.benefit {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
  height: 289px;
  position: relative;
  background: rgba(104, 183, 56) url("../img/benefit.png") no-repeat center top;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(104, 183, 56, 0.85);
}

.benefit__text {
  position: absolute;
  bottom: 43px;
  max-width: 160px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
}
