.catalogs {
  & .container {
    @media screen and (min-width: 1440px) {
      padding-top: 82px;
      padding-bottom: 0;
    }
  }
}

.catalogs__list {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}

.catalogs__item {
  background: $basic_grey;
  position: relative;

  @media screen and (min-width: 1440px) {
    width: 40vw;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1440px) {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 53px;
    width: 50px;
    top: 21px;
    left: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/catalogs_first.svg");

    @media screen and (min-width: 768px) {
      height: 211px;
      width: 200px;
      top: 81px;
      right: 62px;
      left: auto;
    }

    @media screen and (min-width: 1440px) {
      height: 106px;
      width: 100px;
      top: 41px;
      right: auto;
      left: 52px;
    }
  }

  &:last-child::after {
    height: 50px;
    width: 67px;
    top: 24px;
    left: 13px;
    background-image: url("../../img/catalogs_second.svg");

    @media screen and (min-width: 768px) {
      height: 200px;
      width: 268px;
      top: 91px;
      right: 28px;
      left: auto;
    }

    @media screen and (min-width: 1440px) {
      height: 100px;
      width: 134px;
      top: 47px;
      right: auto;
      left: 33px;
    }
  }
}

.catalogs__item-box {
  padding: 30px 20px 18px 20px;

  @media screen and (min-width: 768px) {
    padding: 77px 53px 57px;
  }

  @media screen and (min-width: 768px) {
    padding: 77px 52px 55px;
  }
}

.catalogs__item-title {
  padding-left: calc(91px - 20px);
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 214px;
    margin-bottom: 73px;
  }
}

.catalogs__item-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 23px;
  margin-bottom: 19px;
  color: $special_dark-grey;
  border-bottom: 1px solid #d9d9d9;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
    padding: 0;
    color: $black;
    max-width: 340px;
    border-bottom: none;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 23px;
    min-height: 72px;
    max-width: none;
  }
}

.catalogs__item-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 24px;
    top: 25%;
    right: -40px;
    background: url("../../img/arrow_ico.svg");
  }
}
