.example {
  background: #eaeaea;

  & .container {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}

.example__title {
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.example__story {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin-bottom: 20px;
}

.example__info {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 34px;
}

.example__info-block {
  display: flex;
  padding-top: 14px;
  padding-bottom: 17px;
  flex-direction: column;
  position: relative;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
  width: 124px;
  height: 56px;
}

.example__info-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $black;
}

.example__info-description {
  width: 87px;
  padding: 0 5px;
  right: 19px;
  top: 45px;
  background: #eaeaea;
  position: absolute;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  text-align: center;
  color: $special_dark-grey;
}

.example__total {
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__slider-list {
  display: flex;
  margin-bottom: 15px;
  overflow: hidden;
}

.example__slider-img {
  width: 280px;
  height: 232px;
}

.example__range {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__range-button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.example__range-input {
  width: 85px;
  height: 14px;
  margin: 0 13px;
}
