.form {
  border-top: 1px solid #d9d9d9;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    border-top: none;
  }

  & .container {
    padding: 27px 20px 32px 20px;

    @media screen and (min-width: 768px) {
      padding: 64px 67px 72px 70px;
    }

    @media screen and (min-width: 1440px) {
      padding: 73px 110px 82px;
    }
  }
}

.form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;

  @media screen and (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.form__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  max-width: 207px;
  padding-right: 20px;
  position: relative;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    max-width: none;
    padding-right: 42px;

    &::before {
      content: "";
      display: block;
      width: 100vw;
      position: absolute;
      border-bottom: 2px solid #68b738;
      top: 24px;
      right: 100%;
      margin-right: 40px;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100vw;
    position: absolute;
    border-bottom: 2px solid #68b738;
    top: 15px;
    left: 100%;

    @media screen and (min-width: 768px) {
      top: 24px;
    }
  }
}

.form__info {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1440px) {
    width: 46%;
    display: inline-block;
    margin-right: 80px;
  }

  & .form__item:last-child {
    padding-bottom: 0;
  }
}

.form__item {
  padding-bottom: 14px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }
}

.form__label {
  white-space: nowrap;
  width: inherit;
  margin-right: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 29px;
  }
}

.form__input-text {
  padding: 0 16px;
  width: 100%;
  height: 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  border: 1px solid #e7e7e7;

  &:focus {
    outline: 2px solid $special_dark-grey;
  }

  &:focus:invalid + .form__input-icon {
    stroke: #ff8282;
    fill: #ff8282;
  }

  &:focus:valid + .form__input-icon {
    stroke: $basic_green;
    fill: $basic_green;
  }

  &:focus:invalid {
    outline: 2px solid #ff8282;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 29px;
    padding: 0 20px;
    height: 52px;
  }
}

.form__input-icon {
  position: absolute;
  right: 20px;
  fill: $special_dark-grey-2;
  stroke: $special_dark-grey-2;

  &--valid {
    stroke: #68b738;
  }

  &--error {
    stroke: #ff8282;
  }
}

.form__type {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 -20px;
  padding: 22px 20px;
  margin-bottom: 26px;
  text-transform: uppercase;
  color: $special_dark-grey-2;

  @media screen and (min-width: 768px) {
    border: 1px solid #e5e5e5;
    margin: 0 0 75px 0;
    min-height: 196px;

    & .form__item {
      padding-bottom: 13px;
    }
  }

  @media screen and (min-width: 1440px) {
    width: 47%;
    display: inline-block;
    position: relative;
    top: -10px;
  }

  & .form__item:last-child {
    padding-bottom: 0;
  }
}

.form__input-radio {
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 15px;
  border: 1px solid $special_grey;
  background-color: $white;
  position: relative;

  &:checked::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    background-color: $basic_green;
  }

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;

    &:checked::after {
      width: 18px;
      height: 18px;
      top: 10px;
      left: 10px;
    }
  }
}

.form__contacts {
  padding: 35px 0 23px;
  text-transform: uppercase;
  color: $special_dark-grey;

  @media screen and (min-width: 768px) {
    padding: 75px 0 65px;

    & .form__label {
      margin-right: 18px;
    }
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;

    & .form__label {
      margin-right: 20px;
      max-width: fit-content;
    }
  }

  & .form__item {
    position: relative;

    @media screen and (min-width: 1440px) {
      width: 43%;
      display: inline-flex;
    }
  }
}

.form__textarea {
  display: block;
  margin: 37px 0 22px;
  padding: 9px 10px;
  border: 1px solid #e7e7e7;
  width: 100%;
  height: 150px;
  resize: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;

  &:focus {
    outline: 2px solid #444444;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    margin: 75px 0 65px;
  }

  @media screen and (min-width: 768px) {
    min-height: 174px;
  }
}

.form__extra {
  padding: 34px 0;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    padding: 55px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  }

  @media screen and (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  & .form__item {
    padding: 0;
  }

  & .form__label {
    color: $black;
  }

  & .form__item:not(:last-child) {
    margin-bottom: 13px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.form__input-check {
  appearance: none;
  margin: 0;
  margin-right: 16px;
  width: 30px;
  height: 30px;
  border: 1px solid $special_grey;

  &:checked {
    background: url("../../img/check.svg") no-repeat 50% 50%;
  }
}

.form__submit {
  appearance: none;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  background: $basic_green;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;

  @media screen and (min-width: 768px) {
    width: 45%;
    height: 52px;
    font-size: 20px;
  }
}

.form__required-mark {
  display: inline-block;
  width: 100%;
  margin: 21px 0 0;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    width: 45%;
    font-size: 16px;
  }
}
