.promo {
  background: rgba(104, 183, 56) url("../img/index-background-mobile.png") no-repeat center top;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(104, 183, 56, 0.85);
  color: #ffffff;
  text-align: center;
  margin-bottom: 200px;
  position: relative;

  @media screen and (min-width: 768px) {
    background: none;
    background-size: cover;
    box-shadow: none;
    color: #000000;
    text-align: center;
    margin-bottom: 460px;
    position: relative;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 126px;
  }

  & .container {
    height: 302px;
    padding-top: 0;

    @media screen and (min-width: 768px) {
      padding-left: 117px;
      height: auto;
    }

    @media screen and (min-width: 1440px) {
      padding-left: 190px;
      padding-top: 110px;
    }
  }

  &::before {
    @media screen and (min-width: 1440px) {
      content: "";
      background: #68b738 url("../img/index-background-desktop.png") no-repeat center top;
      background-size: cover;
      background-position-x: 5%;
      box-shadow: inset 0 0 0 1000px rgb(104 183 56 / 85%);
      width: 50vw;
      height: 694px;
      position: absolute;
      top: -120px;
      z-index: -1;
    }
  }

  &::after {
    content: "";
    background: url("../img/index-can-mobile-1.png") no-repeat center;
    width: 100%;
    height: 270px;
    position: absolute;
    top: 170px;
    right: 0;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      z-index: -1;
      width: 609px;
      height: 700px;
      background-size: contain;
      left: 70px;
      top: 210px;
    }

    @media screen and (min-width: 1440px) {
      width: 552px;
      height: 499px;
      background-size: contain;
      left: 18vw;
      top: 40px;
    }
  }
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  margin-bottom: 25px;
  min-height: 99px;

  @media screen and (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
    width: 414px;
    padding-top: 62px;
    text-align: left;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 0;
  }
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 302px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    width: 414px;
    text-align: left;
  }
}

.promo__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 129%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  background: #68b738;
  color: #ffffff;
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}
