.promo {
  background: rgba(104, 183, 56) url("../img/index-background-mobile.png") no-repeat center top;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(104, 183, 56, 0.85);
  color: #ffffff;
  text-align: center;
  margin-bottom: 200px;
  position: relative;

  & .container {
    height: 302px;
  }

  &::after {
    content: "";
    background: url("../img/index-can-mobile-1.png") no-repeat center;
    width: 100%;
    height: 270px;
    position: absolute;
    top: 170px;
    right: 0;
    margin: 0 auto;
  }
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 25px;
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 302px;
}

.promo__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 129%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  background: #68b738;
  color: #ffffff;
  position: relative;
  margin: 0 auto;
}
