.logo {
  width: 34px;
  height: 38px;

  &::after {
    content: "";
    background: url("../img/logo-text.svg") no-repeat center;
    width: 100%;
    height: 18px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    top: 23px;
  }
}
