.footer {
  & .container {
    padding: 0 20px;
    background: $basic_grey;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 58px 30px 55px;
    }
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding: 0;
    margin: 0;
  }
}

.footer__logo-img {
  width: 128px;
  height: 24px;
}

.footer__social {
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding: 0;
    margin: 0;
    border: none;
  }
}

.footer__social-item {
  &:not(:last-child) {
    margin-right: 29px;
  }
}

.footer__social-icon {
  width: 22px;
  height: 22px;
}
